@media(min-width: 320px) and (max-width:575.98px){
    .element-animation {
        opacity: 1 !important;
      }
}

@media(min-width: 576px) and (max-width:767.98px){
    .element-animation {
        opacity: 1 !important;
      }
}







// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){
    .intro{
        width: 100%;
        .intro_container{
            width: 100%;
            max-width:1850px;
            margin: auto;
            position: relative;
            flex-wrap: wrap;
            .img1,.img2,.img3{
                img{
                    width: 100%;
                }
            }
            .header_content{

                padding-top: 160px;
                padding-left: 3%;
            }
            .intro_info{
                width: 50%;
            }
            .intro_imgs{
                width: 50%;
            }
            .img1{
                width: 430px;
                position: absolute;
                bottom: -5%;
                right: 24%;
            }
            .img2{
                width: 200px;
                position: absolute;
                bottom: -27%;
                right: 57%;
            }
            .img3{
                width: 430px;
                position: absolute;
                bottom: -59%;
                right: 28%;
            }

        }
    }
}

























//chapter2

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// more_info

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// promo

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// pizza

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){
    .pizza{
        width: 100%;
        .pizza_img{
            img{
                width: 100%;
            }
        }
    }
}

























// pizza_documentation

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// title_here

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// footer_cols

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}

























// Intro

@media(min-width:320px) and (max-width:575.98px){}


@media(min-width:576px) and (max-width:767.98px){}


@media(min-width:768px) and (max-width:991.98px){}


@media(min-width:992px) and (max-width:1199.98px){}


@media(min-width:1200px) and (max-width:1399.98px){}


@media(min-width:1400px){}














