@media (min-width: 320px) and (max-width: 575.98px) {
  .element-animation {
    opacity: 1 !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .element-animation {
    opacity: 1 !important;
  }
}
@media (min-width: 320px) and (max-height: 499.98px) {
  .menu_open .menu_container .menu_link {
    font-size: 0.8rem !important;
    line-height: 35px !important;
  }
}
.burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 99 !important;
}
.burger span {
  width: 30px;
  height: 4px;
  cursor: pointer;
  background: #fff;
}

@media (min-width: 320px) and (max-width: 575.98px) {
  .intro {
    height: 800px !important;
  }
  .intro .search-box {
    margin-right: 20px;
  }
  .intro .search-box:hover .search-txt {
    width: 180px;
    padding: 0 6px;
  }
  .intro .intro_info {
    width: 100%;
  }
  .intro .intro_info .sbt {
    margin: auto;
    text-align: center;
  }
  .intro .intro_info .intro_button {
    margin: 35px auto 26px;
  }
  .intro .intro_info .intro_logo {
    margin: auto;
  }
  .intro .intro_info .intro_subtitle {
    margin: auto !important;
    font-size: 17px;
    display: inline-block;
  }
  .intro .intro_info .intro_title {
    font-size: 32px;
    width: auto;
    margin: 15% auto !important;
    height: auto;
  }
  .intro .intro_info .intro_text {
    max-width: 481px;
    max-height: auto !important;
    padding: 0 10%;
    font-size: 18px;
    margin-left: 0 !important;
  }
  .intro .header_content {
    margin: 18% auto 0;
  }
  .intro .intro_imgs {
    display: none;
  }
  .intro .header_links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 5%;
  }
  .intro .header_links .burger {
    width: 70%;
  }
  .intro .header_links .links {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .intro {
    height: 800px !important;
  }
  .intro .intro_info {
    width: 100%;
  }
  .intro .intro_info .sbt {
    margin: auto;
  }
  .intro .intro_info .intro_button {
    margin: 35px auto 26px 102px;
  }
  .intro .intro_info .intro_logo {
    margin: auto;
  }
  .intro .intro_info .intro_title {
    font-size: 45px;
    width: auto;
    margin: 5% auto !important;
    height: auto;
  }
  .intro .intro_info .intro_text {
    max-width: 481px;
    max-height: auto !important;
    padding: 0 5%;
    font-size: 21px;
    margin-left: 77px;
  }
  .intro .header_content {
    margin: 15% auto 0;
  }
  .intro .intro_imgs {
    display: none;
  }
  .intro .header_links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 5%;
  }
  .intro .header_links .burger {
    width: 70%;
  }
  .intro .header_links .links {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .intro .header_content {
    margin-top: 15%;
  }
  .intro .intro_imgs {
    display: none;
  }
  .intro .header_links {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 0 0 5%;
  }
  .intro .header_links .burger {
    width: 70%;
  }
  .intro .header_links .links {
    width: 30%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .intro .header_content {
    margin-top: 15%;
  }
  .intro .intro_imgs {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .intro .intro_imgs {
    display: none;
  }
}
@media (min-width: 1400px) {
  .intro {
    width: 100%;
  }
  .intro .intro_container {
    width: 100%;
    max-width: 1850px;
    margin: auto;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .intro .intro_container .img1 img, .intro .intro_container .img2 img, .intro .intro_container .img3 img {
    width: 100%;
  }
  .intro .intro_container .header_content {
    padding-top: 160px;
    padding-left: 3%;
  }
  .intro .intro_container .intro_info {
    width: 50%;
  }
  .intro .intro_container .intro_imgs {
    width: 50%;
  }
  .intro .intro_container .img1 {
    width: 430px;
    position: absolute;
    bottom: -5%;
    right: 24%;
  }
  .intro .intro_container .img2 {
    width: 200px;
    position: absolute;
    bottom: -27%;
    right: 57%;
  }
  .intro .intro_container .img3 {
    width: 430px;
    position: absolute;
    bottom: -59%;
    right: 28%;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .chapter2 .chapter2_title {
    font-size: 26px;
  }
  .chapter2 .chapter2_subtitle {
    font-size: 18px !important;
    margin: 48px auto 100px;
    width: auto !important;
    padding: 0 15% !important;
  }
  .chapter2 .element_txt {
    font-size: 19px !important;
  }
  .chapter2 .soups {
    width: 100%;
  }
  .chapter2 .soups .element_title {
    font-size: 24.2px !important;
    line-height: 3;
  }
  .chapter2 .soups .elem_img {
    height: 225px;
    margin: auto;
    width: 225px;
  }
  .chapter2 .element_info {
    width: 85%;
    gap: 85px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chapter2 .element_info .elem_info {
    width: 100%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
  .chapter2_btn {
    width: auto !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .chapter2 .chapter2_title {
    font-size: 53px;
  }
  .chapter2 .chapter2_subtitle {
    font-size: 19px;
    margin: 48px auto 100px;
    width: auto !important;
    padding: 0 15% !important;
  }
  .chapter2 .soups {
    width: 100%;
    max-width: 1250px;
  }
  .chapter2 .soups .elem_img {
    height: 225px;
    margin: auto;
    width: 225px;
  }
  .chapter2 .element_info {
    width: 75%;
    gap: 85px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chapter2 .element_info .elem_info {
    width: 100%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .chapter2 .chapter2_title {
    font-size: 53px;
  }
  .chapter2 .chapter2_subtitle {
    font-size: 19px;
    margin: 48px auto 100px;
    width: auto !important;
    padding: 0 15% !important;
  }
  .chapter2 .soups {
    width: 100%;
    max-width: 1250px;
  }
  .chapter2 .soups .elem_img {
    height: 285px;
  }
  .chapter2 .element_info {
    width: 35%;
    gap: 85px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chapter2 .element_info .elem_info {
    width: 100%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .chapter2 .soups {
    width: 100%;
    max-width: 1250px;
  }
  .chapter2 .soups .elem_img {
    height: 367px;
  }
  .chapter2 .element_info {
    width: 35%;
    gap: 85px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chapter2 .element_info .elem_info {
    width: 100%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .chapter2 .soups {
    width: 100%;
    max-width: 1250px;
  }
  .chapter2 .soups .elem_img {
    height: 367px;
  }
  .chapter2 .element_info {
    width: 35%;
    gap: 85px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .chapter2 .element_info .elem_info {
    width: 100%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  .chapter2 .soups {
    width: 100%;
    max-width: 1250px;
  }
  .chapter2 .soups .elem_img {
    height: 367px;
  }
  .chapter2 .element_info {
    width: 100%;
    gap: 5%;
  }
  .chapter2 .element_info img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .more_info {
    padding: 75px 5% 0;
  }
  .more_info .chapter3_btn {
    width: auto;
  }
  .more_info .more_title {
    font-size: 27px;
  }
  .more_info .more_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    padding: 0 2%;
  }
  .more_info .more_text .txt1, .more_info .more_text .txt2 {
    text-align: center;
    margin: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .more_info .more_title {
    font-size: 45px;
  }
  .more_info .more_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    padding: 0 2%;
  }
  .more_info .more_text .txt1, .more_info .more_text .txt2 {
    text-align: center;
    margin: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .more_info .more_title {
    font-size: 60px;
  }
  .more_info .more_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    padding: 0 2%;
  }
  .more_info .more_text .txt1, .more_info .more_text .txt2 {
    text-align: center;
    margin: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .more_info .more_text {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 50px;
    padding: 0 2%;
  }
  .more_info .more_text .txt1, .more_info .more_text .txt2 {
    text-align: center;
    margin: auto;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .promo .promo_btn {
    width: auto;
    padding: 10% 5%;
    text-align: center;
  }
  .promo .promo_btn a {
    font-size: 20px;
  }
  .promo .promo_title {
    font-size: 27.3px;
    padding: 0 20% 0 0;
  }
  .promo .promo_txt {
    font-size: 19px;
  }
  .promo_info, .promo_info2 {
    max-width: 540px;
    margin: 0 !important;
    padding: 0 9%;
  }
  .promo_wrapper {
    width: 80%;
    margin: 13% auto;
    gap: 100px;
  }
  .promo_wrapper .promo_2 {
    margin: auto !important;
  }
  .promo_wrapper .promo_img {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .promo .promo_title {
    font-size: 27.3px;
    padding: 0 20% 0 0;
  }
  .promo .promo_txt {
    font-size: 19px;
  }
  .promo_info, .promo_info2 {
    max-width: 540px;
    margin: 0 !important;
    padding: 0 9%;
  }
  .promo_wrapper {
    width: 80%;
    margin: 13% auto;
    gap: 100px;
  }
  .promo_wrapper .promo_2 {
    margin: auto !important;
  }
  .promo_wrapper .promo_img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .promo .promo_title {
    font-size: 27.3px;
    padding: 0 20% 0 0;
  }
  .promo .promo_txt {
    font-size: 19px;
  }
  .promo_wrapper {
    width: 80%;
    margin: 13% auto;
    gap: 100px;
  }
  .promo_wrapper .promo_2 {
    margin: auto !important;
  }
  .promo_wrapper .promo_img img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .promo .promo_title {
    font-size: 27.3px;
    padding: 0 20% 0 0;
  }
  .promo .promo_txt {
    font-size: 19px;
  }
  .promo_wrapper {
    width: 80%;
    margin: 13% auto;
    gap: 100px;
  }
  .promo_wrapper .promo_2 {
    margin: auto !important;
  }
  .promo_wrapper .promo_img img {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .promo_wrapper {
    width: 80%;
    margin: 13% auto;
    gap: 100px;
  }
  .promo_wrapper .promo_2 {
    margin: auto !important;
  }
  .promo_wrapper .promo_img img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .promo_2 {
    margin: auto !important;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .pizza {
    height: 350px !important;
  }
  .pizza .pizza_sbt {
    font-size: 18px;
    line-height: 1.53;
  }
  .pizza .pizza_title {
    font-size: 17.3px;
    display: inline-block;
    margin: auto;
  }
  .pizza .pz_img1, .pizza .pz_img2, .pizza .pz_img3 {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .pizza {
    height: 550px !important;
  }
  .pizza .pizza_title {
    font-size: 37.3px;
    display: inline-block;
    margin: auto;
  }
  .pizza .pz_img1, .pizza .pz_img2, .pizza .pz_img3 {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .pizza {
    height: 800px !important;
  }
  .pizza .pizza_title {
    font-size: 37.3px;
    display: inline-block;
    margin: auto;
  }
  .pizza .pz_img1 {
    display: none;
  }
  .pizza .pz_img2 {
    position: absolute;
    bottom: 1.3%;
    width: 41%;
    left: 33.3%;
  }
  .pizza .pz_img2 img {
    width: 100%;
  }
  .pizza .pz_img3 {
    position: absolute;
    bottom: -0.7%;
    width: 26%;
    left: 25.3%;
  }
  .pizza .pz_img3 img {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .pizza {
    height: 900px !important;
  }
  .pizza .pz_img1 {
    display: none;
  }
  .pizza .pz_img2 {
    position: absolute;
    bottom: 1.3%;
    width: 41%;
    left: 33.3%;
  }
  .pizza .pz_img2 img {
    width: 100%;
  }
  .pizza .pz_img3 {
    position: absolute;
    bottom: -0.7%;
    width: 26%;
    left: 25.3%;
  }
  .pizza .pz_img3 img {
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .pizza .pz_img1 {
    display: none;
  }
  .pizza .pz_img2 {
    position: absolute;
    bottom: 1.3%;
    width: 41%;
    left: 33.3%;
  }
  .pizza .pz_img2 img {
    width: 100%;
  }
  .pizza .pz_img3 {
    position: absolute;
    bottom: -0.7%;
    width: 26%;
    left: 25.3%;
  }
  .pizza .pz_img3 img {
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .pizza {
    width: 100%;
  }
  .pizza .pz_img1 {
    position: absolute;
    top: -14.1%;
    z-index: 1;
    left: -3.3%;
    width: 100%;
  }
  .pizza .pz_img1 img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .pizza_documentation {
    margin-top: 150px !important;
  }
  .pizza_documentation .info_col02 {
    margin: 0;
  }
  .pizza_documentation .info_col_title {
    font-size: 31.5px;
    line-height: 0.5;
  }
  .pizza_documentation .info_col {
    width: 100%;
    padding: 0 12%;
  }
  .pizza_documentation .info_col_txt {
    width: auto;
  }
  .pizza_documentation .info_subtitle {
    width: auto;
    height: auto;
    font-size: 17px;
    display: inline-block;
    padding: 0 13%;
    margin: 25% auto 0;
  }
  .pizza_documentation .name {
    margin: 60px auto 100px !important;
  }
  .pizza_documentation .pizza_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    gap: 120px;
    margin: 0 auto 5%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .pizza_documentation {
    margin-top: 150px !important;
  }
  .pizza_documentation .info_subtitle {
    width: auto;
    height: 85px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    display: inline-block;
    padding: 0 13%;
    font-weight: 600;
    text-align: center;
    color: #3f3f3f;
  }
  .pizza_documentation .name {
    margin: 60px auto 100px !important;
  }
  .pizza_documentation .pizza_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    gap: 120px;
    margin: 0 auto 5%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .pizza_documentation {
    margin-top: 150px !important;
  }
  .pizza_documentation .info_subtitle {
    width: auto;
    height: 85px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    display: inline-block;
    padding: 0 13%;
    font-weight: 600;
    text-align: center;
    color: #3f3f3f;
  }
  .pizza_documentation .name {
    margin: 60px auto 100px !important;
  }
  .pizza_documentation .pizza_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    gap: 120px;
    margin: 0 auto 5%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .pizza_documentation {
    margin-top: 150px !important;
  }
  .pizza_documentation .name {
    margin: 60px auto 100px !important;
  }
  .pizza_documentation .pizza_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 50%;
    gap: 120px;
    margin: 0 auto 5%;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .title_here {
    height: 600px !important;
    padding-top: 30% !important;
  }
  .title_here .title_here_title {
    font-size: 40px;
  }
  .title_here .title_here_text {
    width: auto;
    padding: 0 4%;
    height: auto;
    margin: 0 auto 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 25.5px;
    text-align: center;
    color: #fff;
  }
  .title_here .inputs {
    width: 100%;
  }
  .title_here .inputs .margins {
    padding: 0 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 25px;
    width: 80%;
  }
  .title_here .inputs .margins input, .title_here .inputs .margins button {
    width: auto;
  }
  .title_here .inputs .margins button {
    margin-left: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .title_here {
    height: 500px !important;
  }
  .title_here .title_here_text {
    width: auto;
    padding: 0 4%;
    height: 60px;
    margin: 0 auto 85px;
    font-family: "Open Sans", sans-serif;
    font-size: 25.5px;
    text-align: center;
    color: #fff;
  }
  .title_here .inputs input {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .title_here {
    height: 500px !important;
  }
  .title_here .title_here_text {
    width: auto;
    padding: 0 4%;
    height: 60px;
    margin: 0 auto 85px;
    font-family: "Open Sans", sans-serif;
    font-size: 25.5px;
    text-align: center;
    color: #fff;
  }
  .title_here .inputs input {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .footer_col {
    width: 50% !important;
    margin: auto;
  }
  .fc {
    margin: auto !important;
  }
  .footer_cols {
    padding: 0 2%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
  .title_here_footer {
    width: auto !important;
    padding: 0 10%;
  }
  .title_here_footer .footer_col_txt {
    width: auto;
    font-size: 18.5px;
    line-height: 33px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer_col {
    width: 50% !important;
    margin: auto;
  }
  .fc {
    margin: auto !important;
  }
  .footer_cols {
    padding: 0 2%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
  .title_here_footer {
    width: auto !important;
    padding: 0 10%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .fc {
    margin-left: 5% !important;
  }
  .footer_cols {
    padding: 0 2%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .fc {
    margin-left: 5% !important;
  }
  .footer_cols {
    padding: 0 2%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .fc {
    margin-left: 5% !important;
  }
}
@font-face {
  font-family: Opensansd;
  src: url(../fonts/OpenSans-Defolt.ttf);
}
@font-face {
  font-family: Opensansb;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: Opensanssb;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Reey;
  src: url(../fonts/Reey-Regular.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserratb";
  src: url(../fonts/Montserrat-Bold.ttf);
}
p {
  margin: 0;
  padding: 0;
}

@media (min-height: 800px) and (min-width: 992px) {
  .element-animation {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .element-show {
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .animation_fromLeft_to_right.element-animation {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  .animation_fromLeft_to_right.element-show {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
  .animation_fromRight_to_left.element-animation {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  .animation_fromRight_to_left.element-show {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
  .animation_fromBottom_to_up.element-animation {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  .animation_fromBottom_to_up.element-show {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
  .animation_fromUP_to_bottom.element-animation {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  .animation_fromUP_to_bottom.element-show {
    -webkit-transform: translate(0, 0) !important;
            transform: translate(0, 0) !important;
    -webkit-transition: 1s !important;
    transition: 1s !important;
  }
}
.loaded_hiding {
  overflow: hidden !important;
  pointer-events: none;
}

.loaded #preloader {
  display: none;
}

#preloader {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f0f0f0;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f0f0f0;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f0f0f0;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  z-index: 999999999999999900000000000000000000 !important;
  background: #f1f1f1;
}
body::-webkit-scrollbar-track {
  z-index: 999999999999999900000000000000000000 !important;
}
body::-webkit-scrollbar-thumb {
  z-index: 999999999999999900000000000000000000 !important;
  background: #3f4046;
}
body::-webkit-scrollbar-button {
  display: none;
}

.intro {
  width: 100%;
  height: 1056px;
  padding-top: 45px;
  background-image: url(../img/1header/bg.jpg);
  background-size: cover;
  color: #fff;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

nav {
  position: relative;
}

nav a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  margin-right: 50px;
  font-weight: bold;
  letter-spacing: 3.33px;
  text-transform: uppercase;
  text-align: left;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  position: relative;
  height: 40px;
  border-radius: 40px;
  padding: 15px;
  margin-right: 50px;
}

.search-box:hover .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f0f0f0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}

.search-txt {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  color: #000;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 4;
  width: 0;
}

.intro_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.intro_logo {
  margin-left: 127px;
}

.intro_title {
  width: 635px;
  height: 155px;
  text-shadow: 0px 5px 5px rgba(84, 82, 79, 0.22);
  font-size: 91.5px;
  font-family: "Reey", sans-serif;
  font-weight: normal;
  text-align: justify;
  margin: 50px 0 90px 125px;
}

.intro_subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 5px;
  text-align: justify;
  margin-left: 105px;
}

.intro_button {
  width: 149px;
  margin: 66px auto 26px 102px;
  padding: 14px 36px 13px 38px;
  opacity: 0.9;
  border-radius: 20.4px;
  background-color: #fff;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.intro_button:hover {
  background: #c7c7c7;
}

.intro_button a {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  color: #2e3034;
  text-decoration: none;
  text-transform: uppercase;
}

.intro_text {
  max-width: 481px;
  font-family: "Open Sans", sans-serif;
  font-size: 21px;
  font-style: italic;
  letter-spacing: 1.05px;
  color: #fff;
  margin-left: 102px;
}

.intro_imgs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elem_info {
  text-align: center;
}
.elem_info img {
  width: 100%;
}

.chapter2_title {
  font-family: "Reey", sans-serif;
  font-size: 75px;
  color: #222328;
}

.chapter2 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  padding-top: 70px;
  margin-top: 10%;
  padding-bottom: 45px;
}

.chapter2 .chapter2_subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 27px;
  margin: 48px auto 100px;
  width: 700px;
  text-align: center;
  color: #2f3135;
}

.chapter2 .soups {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.chapter2 .soups_imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
}

.chapter2 .soups_imgs .elem_img {
  margin-right: 90px;
}

.chapter2 .element_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.chapter2 .element_info .element_title {
  font-family: "Open Sans", sans-serif;
  font-size: 29.2px;
  font-weight: bold;
  color: #343434;
}

.chapter2 .element_info .element_txt {
  font-family: "Open Sans", sans-serif;
  font-size: 22.9px;
  color: #343434;
}

.chapter2_btn {
  background-color: #343434;
  padding: 30px 20px;
  display: inline-block;
  margin: 122px auto 50px;
  border-radius: 30px;
  width: 335px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.chapter2_btn:hover {
  background: #b5b3b3;
}

.chapter2_btn a {
  font-family: "Open Sans", sans-serif;
  font-size: 23px;
  font-weight: 800;
  line-height: 0.91;
  letter-spacing: 4.6px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.more_info {
  max-width: 100%;
  background-image: url(../img/chapter_3/Shape.jpg);
  background-size: cover;
  padding-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.more_info .more_title {
  color: #fff;
}

.more_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px auto 75px;
  font-family: "Montserrat", sans-serif;
  font-size: 16.5px;
  line-height: 1.58;
  text-align: left;
  color: #fff;
}

.more_text .txt1 {
  margin-right: 65px;
  max-width: 499px;
}

.more_text .txt2 {
  max-width: 490px;
}

.chapter3_btn {
  width: 271px;
  margin: 0 auto 71px;
  padding: 19px 57px 19px 56px;
  opacity: 0.9;
  border-radius: 22.5px;
  background-color: #fefefe;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bold;
}

.chapter3_btn:hover {
  background: #b5b3b3;
}

.chapter3_btn a {
  font-family: "Montserratb", sans-serif;
  font-size: 26.5px;
  font-weight: bold;
  text-align: center;
  color: #27292c;
  text-transform: uppercase;
  text-decoration: none;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 55px;
}

.promo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.promo_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo_info {
  max-width: 540px;
  margin-left: 50px;
}

.promo_title {
  font-family: "Open Sans", sans-serif;
  font-size: 58.3px;
  font-weight: bold;
  text-align: left;
  color: #27292c;
}

.promo_txt {
  font-family: "Open Sans", sans-serif;
  font-size: 29px;
  text-align: left;
  color: #27292c;
  margin-top: 52px;
  margin-bottom: 53px;
}

.promo_btn {
  width: 223px;
  padding: 30px 60px;
  background-color: #27292c;
  border-radius: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.promo_btn:hover {
  background: #b5b3b3;
}

.promo_btn a {
  font-family: "Open Sans", sans-serif;
  font-size: 29px;
  font-weight: bold;
  line-height: 0.72;
  letter-spacing: 5.8px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.promo_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 210px 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo_info2 {
  max-width: 540px;
  margin-right: 50px;
}

.pizza {
  background-image: url(../img/chapter_5/Bg.jpg);
  background-size: cover;
  color: #fff;
  padding-top: 120px;
  position: relative;
  height: 1000px;
}

.pizza_title {
  color: #fff;
  font-size: 58.3px;
}

.pizza_sbt {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 1.33;
  text-align: center;
  color: #f8f6f1;
  width: 84.3%;
  margin: 57px auto;
  margin-bottom: 41px;
}

.pizza_sbt::after {
  content: "";
  display: block;
  width: 164px;
  height: 11px;
  margin: 41px auto 20px;
  background-color: #fafafa;
}

.pizza_head {
  margin: 20px auto;
  max-width: 881px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pz_img1 {
  position: absolute;
  top: -14.1%;
  left: 11.7%;
}

.pz_img2 {
  position: absolute;
  bottom: -19.7%;
  left: 37.3%;
}

.pz_img3 {
  position: absolute;
  bottom: -21.7%;
  left: 27.4%;
}

.pizza_documentation {
  margin-top: 255px;
}

.pizza_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 235px;
}

.info_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 332px;
}

.info_col_title {
  font-family: "Reey", sans-serif;
  font-size: 41.5px;
  line-height: 0.8;
  text-align: center;
  color: #393939;
}

.info_col_txt {
  font-family: "Open Sans", sans-serif;
  font-size: 18.5px;
  line-height: 1.35;
  margin-top: 47px;
  text-align: left;
  color: #333d42;
  width: 332px;
  height: 70px;
}

.info_col02 {
  margin-right: 62px;
  margin-left: 62px;
}

.info_subtitle {
  width: 792px;
  height: 85px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #3f3f3f;
}

.name {
  margin: 60px auto 185px;
  font-family: "Open Sans", sans-serif;
  font-size: 20.8px;
  font-weight: bold;
  line-height: 1.6;
  text-align: center;
  color: #3f3f3f;
}

.title_here {
  padding-top: 236px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 802px;
  background-image: url(../img/chapter_7/Shape.jpg);
  background-size: cover;
}

.title_content {
  background-image: url(..img/chapter_7/1.png);
}

.title_here_title {
  font-family: "Open Sans", sans-serif;
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 70px;
  text-align: center;
  color: #fff;
}

.title_here_text {
  width: 890px;
  height: 60px;
  margin: 0 auto 85px;
  font-family: "Open Sans", sans-serif;
  font-size: 29.5px;
  text-align: center;
  color: #fff;
}

.inputs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputs input {
  width: 625px;
  height: 22px;
  padding: 22px 12px 22px 46px;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  text-align: left;
  outline: none;
  border-radius: 40px;
  border: none;
}

.inputs button {
  width: 222px;
  height: 68px;
  padding: 15px 42px 14px;
  border-radius: 40px;
  margin-left: -60px;
  background: #54524f;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.inputs button:hover {
  background: #2f2d2b;
}

.margins {
  margin: 0 auto;
}

footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
}

.footer_cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer_col_title {
  font-family: "Montserrat", sans-serif;
  font-size: 31.5px;
  text-align: left;
  color: #343434;
}

.footer_col_txt {
  width: 457px;
  font-family: "Montserrat", sans-serif;
  font-size: 23.5px;
  text-align: left;
  color: #343434;
  margin-top: 38px;
  margin-bottom: 35px;
}

.p {
  margin-top: -3px;
}

.p p {
  font-family: "Montserrat", sans-serif;
  font-size: 23.5px;
  text-align: left;
  color: #343434;
  margin-top: 8px;
}

.flex_dir {
  font-family: "Montserrat", sans-serif;
  font-size: 31.5px;
  text-align: left;
  color: #343434;
  margin-bottom: 34px;
}

.fc {
  margin-left: 168px;
}

.fc1 {
  margin-left: 48px;
  margin-right: 41px;
}

@media (max-width: 991.98px) {
  .nav {
    display: none !important;
  }
  .menu_wrapper {
    display: none;
  }
  .burger {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width: 992px) {
  .burger,
.menu_wrapper,
.menu_open {
    display: none !important;
  }
  .d-none {
    display: block !important;
  }
  .overflow_hidden {
    overflow: scroll !important;
  }
}
.overflow_hidden {
  overflow: hidden;
}

.d-none {
  display: none;
}

.transform_rotate {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  z-index: 999 !important;
  cursor: pointer;
  top: 8%;
  right: 8%;
}
.transform_rotate .span_burger1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transform_rotate .span_burger2 {
  display: none !important;
}
.transform_rotate .span_burger3 {
  margin-top: -31.3%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transform_rotate span {
  width: 40px;
  height: 4px;
  background: #fff;
  cursor: pointer;
}

.nav_link {
  cursor: pointer;
}

.menu_open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh !important;
  width: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: all;
  z-index: 999;
  opacity: 1;
  right: 0;
  top: 0;
  z-index: 10;
  background: #916e6e;
}
.menu_open .menu_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}
.menu_open .menu_container .menu_link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
  margin-left: 0;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 10;
}
.menu_open .menu_container .button {
  background: #3293e2;
  width: 100%;
  padding: 0px 18px;
  border-radius: 20px;
  margin: 5% auto 0;
  cursor: pointer;
  z-index: 10;
}